<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taquero Mucho</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
.prev, .next {
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          border-radius: 0 3px 3px 0;
        }
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TaqueroMucho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/sucursales">Sucursales <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/documentos">Documentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Proximamente</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="window.print();return false;" >Imprimir reporte</button>
    </form>
  </div>
</nav>
<a th:href="@{/sucursal/crear}">Crear nueva sucursal</a>
<table class="table">
    <tr>
        <th scope="row" >Numero De sucursal</th>
        <th scope="row" >Calle</th>
        <th scope="row" >Numero</th>
        <th scope="row" >Ciudad</th>
        <th scope="row" >Estado</th>
        <th scope="row" >Acciones</th>
    </tr>
    <div th:each="sucursal : ${sucursales}">
        <tr>
            <td scope="row" th:text="${sucursal.getNumeroSucursal()}"></td>
            <td scope="row" th:text="${sucursal.getCalle()}"></td>
            <td scope="row" th:text="${sucursal.getNumero()}"></td>
            <td scope="row" th:text="${sucursal.getCiudad()}"></td>
            <td scope="row" th:text="${sucursal.getEstado()}"></td>
        </tr>
    </div>
</table>

<!-- Footer -->
<footer class="page-footer font-small red">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a class="prev" th:href="@{/sucursal/{id} (id = ${sucursal.getNumeroSucursal()})}">Ver</a>
                |
                <a class="prev" th:href="@{/sucursal/editar/{id} (id = ${sucursal.getNumeroSucursal()})}">Editar</a>
                |
                <a class="prev" th:href="@{/sucursal/eliminar/{id} (id = ${sucursal.getNumeroSucursal()})}">Eliminar</a>
  </div>
  <!-- Copyright -->
</body>
</html>