<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taquero Mucho</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
.prev, .next {
		  cursor: pointer;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		}
</style>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TaqueroMucho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div w3-include-html="../nav.html"></div> 
<a class="prev" th:href="@{/sucursales}">Volver</a>
<h1 th:text="${sucursal.getNumeroSucursal()}"></h1>
<p th:text="${sucursal.getCalle()}"></p>
<p th:text="${sucursal.getNumero()}"></p>
<p th:text="${sucursal.getCiudad()}"></p>
<p th:text="${sucursal.getEstado()}"></p>
<a th:href="@{/{sucursal}/empleados (sucursal = ${sucursal.getNumeroSucursal()})}">Empleados</a>
<a th:href="@{/{sucursal}/clientes (sucursal = ${sucursal.getNumeroSucursal()})}">Clientes</a>
</body>
</html>